div.navbar.navbar-default.navbar-fixed-top
  div.container
    div.navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active: a(href='#') homePage
        li: a(href='#news') news
        li: a(href='#stocks') stocks
        li.dropdown
          a(href='#' class='dropdown-toggle' data-toggle='dropdown') knowledge
          ul(class='dropdown-menu' role='menu')
            li: a(href='#') PHP
            li: a(href='#') javascript
            li: a(href='#') Nodejs
            li: a(href='#') Mysql
            li: a(href='#') Redis